.jumbotron{
    text-align: center;
    background-color:rgba(255, 204, 0, 0.0);
    text-decoration: underline;
    text-decoration-color: rgba(255, 204, 0, 0.5);
    font-family: 'Roboto';
    
}

.container-fluid{
    text-align: center;
}
#intro{
    text-align:center;
    width: 100%;
    font-size: 110%;
    padding-bottom: 20px;
    font-family: 'Roboto';

}
#content{
    text-align: justify;
    max-width: 100%;
    font-family: 'Roboto';
    font-size: 110%;
    padding-top: 0px;
    padding-bottom: 20px;
}
#header{
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer{
    color: grey;
    padding-bottom: 10px;
}
.target{
    color: black;
    font-weight: bold;
   
}

#code{
    font-family: monospace;
    text-align: left;
}