#projects{
    background-color: white;
    text-align: center;
    border-style:solid;
    border-color:black;
}

#projectheader{
    background-image: url('Images/hamburg_boat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 400px;

}
#background-opacity{
    background: rgb(240, 234, 214); /* Fallback for older browsers without RGBA-support */
    background: rgba(240, 234, 214, 0.8);
}
#projectelement{
    border-color: white;
    border-style:solid;
    
}
#projectTitle{
    font-color:pink;
    scroll-padding: 100px;
    padding-top: 100px;
    padding-bottom: 100px;

}
.h1{
    font-family:Roboto;
    padding-bottom: 2cm;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: grey;
  }
  .container-new {
    position: relative;
    width: 100%;
    overflow: hidden;
    
  }
  .container-new:hover .overlay {
    opacity: 1;
  }
  .text {
    color: black;
    font-size: 80px;
    position: absolute;
    font-family: 'Roboto';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .img{
    top: 50%;
    left: 50%;
    transform: translate(0, +25%);
    
  }

  .post-preview > a {
    color: #212529;
  }
  
  .post-preview > a:focus, .post-preview > a:hover {
    text-decoration: none;
    color: #0085A1;
  }
  
  .post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .post-preview > a > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
  }
  
  .post-preview > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
  }
  
  .post-preview > .post-meta > a {
    text-decoration: none;
    color: #212529;
  }
  
  .post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
    text-decoration: underline;
    color: #0085A1;
  }
